$soft-cyan: hsl(174, 77%, 80%);
$strong-cyan: 0;
$light-grayish-red: 0;
$light-red: 0;
$pale-blue: hsl(226, 100%, 87%);

$white: #fff;
$very-pale-blue: hsl(230, 100%, 99%);
$light-grayish-blue: 0;
$lighter-grayish-blue: 0;
$grayish-blue: hsl(225, 20%, 60%);
$dark-saturated-blue: hsl(227, 35%, 25%);

$text-font-stack: "Manrope", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;
